
.color-golden {
    background: #E6C684;
    background: repeating-linear-gradient(to top, #E6C684 0%, #C09947 22%, #E9C577 42%, #9E6F06 59%, #E5C98D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-wedding {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    p {
        font-size: 1.2rem;
    }

    h3 {
        text-transform: uppercase;
        @extend .color-golden;
        font-weight: 800;
        font-size: 1.2rem;
    }

    .btn-wedding {
        background-color: #94956b;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
    }

    .icon {
        height: 6rem;
        width: 6rem;
    }
}

.container-timeline {
    h6 {
        font-family: 'Parisienne', cursive;
        font-size: 1.8rem;
    }
    .items-timeline {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 1.5px;
            bottom: 0;
            top: 0;
            background-color: #000;
        }
        .icon {
            height: 4rem;
            width: 4rem;
        }
    }
}

.container-hero {
    & .logo {
        position: absolute;
        left: 29%;
        right: 50%;
        bottom: 74%;
        width: 45%;
    }
    & .pseudo-text {
        font-family: 'Parisienne', cursive;
        @extend .color-golden;
        font-family: "Parisienne", cursive;
        position: absolute;
        top: 29%;
        right: 0;
        left: 0;
        text-align: center;
        font-size: 2.3rem;
    }
}

.special-letter {
    font-family: 'Parisienne', cursive;
    font-size: 5rem;
    line-height: 1.5;
    color: #B8831A;
    @extend .color-golden;
    &:nth-child(2) {
        line-height: 1;
    }
}

.date {
    span {
        flex: 1;
        border-top: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        font-size: 16px;
    }
    h2 {
        font-size: 60px;
        color: #B8831A;
        font-style: italic;
    }
}

.container-reservation {
    .bullets {
        display: flex;
        justify-content: center;
        gap: 1rem;
        .container-dot-number {
            display: flex;
            flex-direction: column;
            & .dot {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 1px solid currentColor;
                &.active {
                    border: 0;
                    background-color: #B8831A;
                }
            }
            & .number {
                font-size: 1rem;
            }
        }
    }
}


.container-footer {
    h1 {
        font-family: 'Parisienne', cursive;
        font-size: 3.6rem;
        line-height: 1.5;
        color: #B8831A;
        @extend .color-golden;
    }
}