.container-wedding {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

.color-golden {
    background: #E6C684;
    background: repeating-linear-gradient(to top, #E6C684 0%, #C09947 22%, #E9C577 42%, #9E6F06 59%, #E5C98D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-hero {
    & .logo {
        position: absolute;
        left: 33%;
        right: 50%;
        bottom: 80%;
        width: 35%;
    }
    & .pseudo-text {
        font-family: 'Parisienne', cursive;
        @extend .color-golden;
        position: absolute;
        top: 22%;
        right: 0;
        left: 0;
        text-align: center;
        font-size: 2.4rem;
    }
}

.special-letter {
    font-family: 'Parisienne', cursive;
    font-size: 90px;
    line-height: 1;
    color: #B8831A;
}

.date {
    span {
        flex: 1;
        border-top: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        font-size: 16px;
    }
    h2 {
        font-size: 60px;
        color: #B8831A;
        font-style: italic;
    }
}

.reservation {
    .bullets {
        display: flex;
        justify-content: center;
        gap: 1rem;
        .container-dot-number {
            display: flex;
            flex-direction: column;
            & .dot {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 1px solid currentColor;
                &.active {
                    border: 0;
                    background-color: #B8831A;
                }
            }
            & .number {
                font-size: 1rem;
            }
        }
    }
}


